<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RingCentral for Skype for Business Sidebar</title>
    <style>
      body {
        background: transparent;
        position: relative;
        overflow: hidden;
      }
      .circle {
        position: absolute;
        width: 30px;
        height: 30px;
        background: #999;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
  </body>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
