<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Me</title>
  </head>
  <body>
    <h3>RingCentral for Skype for Business</h3>
    <ul>
      <li>Version 0.0.0</li>
      <li>Node.js <script>document.write(process.versions.node)</script></li>
      <li>Electron <script>document.write(process.versions.electron)</script></li>
      <li>Chromium <script>document.write(process.versions.chrome)</script></li>
    </ul>
  </body>
  <script>
    require('./renderer.js')
  </script>
</html>
